body>footer{
    border-top: 2px solid $color-light-red;
    margin-top: 100px;
    padding: 0 0.7rem;
    
    #company-title {
        color: $color-light-red;
        font-size: 16px;
        font-family: $font-montserrat, sans-serif;
    }

    div.flex {
        margin: 37px auto 45px;

        > * {
        flex: 1;
        }
    }

    .title-list{
        font-weight: bold;
        font-size: 14px;
    }

    #options>ul{
        list-style: none;
        color: $color-brownish-grey;
        font-size: 14px;
        margin-top: 11px;

        a{
            text-decoration: none;
            color: inherit;
            line-height: 26px;
        }

    }

    figcaption {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 8px;
        color: $color-brownish-grey;
    }
    
}