$line-color : #FF4E50;
.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    border-top-width: 1px;
    border-top-color: $line-color;
    border-top-style: solid;
    margin-top: 5%;
}
.item{
    flex-grow: 1;
}

.final-item{
    flex-grow: 2;
    text-align: right;
}
.develop-by{
    font-family: -apple-system,;
    font-size: 10px;
    color: #CCCCCC;
    letter-spacing: 1px;
}
.final-div{
    display: flex;
    flex-direction: column;
    justify-content: right;
}

