@import "../fuente";
@import "../color";

#how-it-works {
  margin: 35px;

  header {
    margin-bottom: 35px;
  }
  figure {
    margin-bottom: 20px;
    position: relative;
    padding-bottom: 20px;

    h2{
        font-size: 24px;
    }
    p{
        font-size: 14px;
        font-family: $font-roboto, sans-serif;
        text-align: left;
    }

    figcaption {
      transform: translateY(-50%) translateX(-50%);
      top: 50%;
      left: 50%;
      position: absolute;
      text-align: center;
      color: $color-white;
      font-weight: 700;
      font-size: 23px;
      font-family: $font-montserrat;
      width: 80%;
    }
  }
}
