$color-light-red:#ff4e50;
$color-corn-flower:#667df3;
$color-very-light-pink:#e3e3e3;
$color-darker-grey:#444444;
$color-white:#ffffff;
$color-aqua:#19d4ca;
$color-brownish-grey:#666666;
$color-yellowish-orange:#ffa710;
$color-very-light-grey:#f7f3f2;
